{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Time Off | Schedule System</title>
    <link rel="stylesheet" type="text/css" href="{% static 'staffscheduling/site.css' %}" />
</head>
<body>
    <div class="main-container">
        <div class="title-container">
            <h3>Staff Schedule</h3>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Log in</button>
            </form>
        </div>
        <div class="content-container">
            <div class="left-container">
                <a href="{% url 'scheduling_page' %}" class="left-button">Schedule</a>
                <a href="{% url 'time_off_page' %}" class="left-button">Time Off</a>
                <a href="{% url 'request_changes_page' %}" class="left-button">Request Changes</a>
                <a href="{% url 'schedule_management_page' %}" class="left-button">Schedule Management</a>
            </div>
            <div class="right-container">
                <div class="staff-schedule-container">
                    <h3>Request Time Off</h3>
                    <form method="post">
                        {% csrf_token %}
                        <label for="time_off_date">Select a Date:</label>
                        <input type="date" id="time_off_date" name="time_off_date" required>

                        <label for="reason">Input Reason:</label>
                        <input type="text" id="reason" name="reason" required>

                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>